<h1 class="text-2xl font-bold">Welcom to this great app!</h1>
<p>Your mission is to improve this app by adding some feature.</p>
<p>
  When you click on a member, it should navigate to the url team/:id. Then on
  the right side, you'll see all the details of the user. Those information
  should be retrieved in the state (ngrx). In addition of the member
  information, there will be a delete button to delete the user from the list.
</p>
<p>
  Extra: Add a button (add a member) on top of the list. When the button is
  clicked, it should show a form on the right for to add a new member.
</p>
